.noselect {
  user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

body {
  background-color: #283593;
  height: 100%;
}

#full {
  height: 100%;
}
